:root {
    --bs-primary: #fd0;
    --bs-secondary: #ffdd57;
    --bs-success: #38c172;
    --bs-danger: #e3342f;
}
.bg-primary {
    background-color: #fd0 !important;
}
.btn-primary{
    background-color: #fd0 !important;
    border-color: #fd0 !important;
}

.bg-secondary {
    background-color: #e6e7e8 !important; /* Thay đổi thành màu vàng */
}